@import "../../Constants/Variables"

.myLang
  background: #151517
  min-width: 100%
  & > div > ul > li
    &:hover
      background: $tertiary
    &:focus
      background: $tertiary
    &:active
      background: $tertiary
    & > span
      display: flex
      align-items: center
      justify-content: space-evenly
      gap: 6px
      width: 100%
      padding-top: 12px
      padding-bottom: 12px
      & > img
        width: 26px
        height: 16px
      & > span
        color: #FFF
        text-align: center
        font-family: "TT Norms Pro", sans-serif
        font-size: 13px
        font-style: normal
        font-weight: 500
        line-height: normal
  &_btn
    background: #151517
    border: none
    border-radius: 16px
    outline: none
    color: white
    padding: 16px 24px
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    &:hover
      background: #151517
    &:focus
      background: #151517!important
    &:active
      background: #151517!important
    & > img
      width: 26px
      height: 16px
      margin-right: 6px
    & > span
      color: #FFF
      text-align: center
      font-family: "TT Norms Pro", sans-serif
      font-size: 14px
      font-style: normal
      font-weight: 500
      line-height: normal


