.wrap {
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.wrap_title {
  margin-bottom: 0;
  color: #F2F2F2;
  text-align: center;
  font-family: "TT Norms", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.wrap_boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
  padding: 0 24px;
  height: 700px;
}

.box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #121212;
  background: #050505;
  box-sizing: border-box;
  height: 603px;
  transition: transform 0.3s ease-in-out;
}
.box_img {
  height: auto;
  width: auto;
}
.box_texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.box_texts__top {
  width: 100%;
}
.box_texts__top_title {
  color: #F2F2F2;
  font-family: "TT Norms", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}
.box_texts__top_subTitle {
  color: #686A71;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%;
  align-self: stretch;
  margin-bottom: 0;
  width: 472px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.box_texts__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box_texts__bottom_box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.box_texts__bottom_box__img {
  width: 26px;
  height: 26px;
}
.box_texts__bottom_box__price {
  padding: 4px 8px;
  border-radius: 15px;
  border: 1px solid #081F0D;
  background: #060D07;
  color: #158230;
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: none;
}
.box_texts__bottom_box__txt {
  color: #F2F2F2;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.box_texts__btnWrap {
  display: none;
  justify-content: center;
  align-items: center;
}
.box_texts__btnWrap_btn {
  padding: 12px 48px;
}
.box:hover .box_texts__btnWrap {
  display: flex;
}
.box:hover {
  border-color: #0D571F;
  transform: scale(1.05);
  height: auto;
}

@media (max-width: 1820px) {
  .wrap {
    padding-top: 100px;
    padding-bottom: 20px;
    gap: 40px;
  }
  .wrap_boxes {
    gap: 20px;
    padding: 0 0;
    height: 600px;
  }
  .box {
    padding: 30px;
    height: 489px;
  }
  .box_img {
    width: auto;
    height: auto;
  }
  .box_texts__top_title {
    font-size: 20px;
    font-weight: 500;
  }
  .box_texts__top_subTitle {
    font-size: 14px;
    font-weight: 300;
    width: 303px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .box_texts__bottom {
    gap: 16px;
  }
  .box_texts__bottom_box__txt {
    font-size: 16px;
  }
  .box_texts__btnWrap_btn {
    padding: 12px 48px;
  }
  .box:hover .box_texts__top_subTitle {
    -webkit-line-clamp: 4;
  }
  .box:hover {
    border-color: #0D571F;
    transform: scale(1.03);
  }
}
@media (max-width: 1200px) {
  .wrap {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .wrap_title {
    margin-bottom: 0;
    color: #F2F2F2;
    text-align: center;
    font-family: "TT Norms", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
  .wrap_boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0 0;
    height: auto;
  }
  .box {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid #0D571F;
    background: #050505;
    box-sizing: border-box;
    height: 595px;
    transition: none;
    width: 350px;
  }
  .box_img {
    height: auto;
    width: auto;
  }
  .box_texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .box_texts__top {
    width: 100%;
  }
  .box_texts__top_title {
    color: #F2F2F2;
    font-family: "TT Norms", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
  }
  .box_texts__top_subTitle {
    color: #686A71;
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%;
    align-self: stretch;
    margin-bottom: 0;
    width: 310px;
    -webkit-line-clamp: 4;
    height: 84px;
  }
  .box_texts__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .box_texts__bottom_box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .box_texts__bottom_box__price {
    padding: 4px 8px;
    border-radius: 15px;
    border: 1px solid #081F0D;
    background: #060D07;
    color: #158230;
    font-family: "TT Norms", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    display: block;
  }
  .box_texts__bottom_box__txt {
    color: #F2F2F2;
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }
  .box_texts__btnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_texts__btnWrap_btn {
    padding: 12px 48px;
  }
  .box:hover {
    height: 595px;
    transform: none;
  }
}
@media (max-width: 720px) {
  .wrap {
    padding-top: 80px;
    gap: 10px;
  }
  .wrap_title {
    font-size: 24px;
  }
  .box {
    border-radius: 24px;
    border: 1px solid #08260F;
    width: 100%;
    height: auto;
  }
  .box_img {
    height: auto;
    width: auto;
  }
  .box_texts__top_subTitle {
    font-size: 15px;
    width: 100%;
    height: auto;
  }
  .box:hover {
    height: auto;
    transform: none;
    border-color: #08260F;
  }
}

/*# sourceMappingURL=Services.module.css.map */
