@import "../../../Constants/Variables"

.wrap
  position: sticky
  top: 12px
  z-index: 1000
  &_container
    display: flex
    align-items: center
    justify-content: space-between
    padding: 16px
    border-radius: 24px
    background: rgba(13, 13, 13, 0.70)
    backdrop-filter: blur(3px)
    &_logo
      width: 186px

.myBurger
  display: flex
  flex-direction: column
  align-items: flex-start
  box-sizing: border-box
  width: auto
  border-radius: 24px
  background: rgba(13, 13, 13, 1)
  padding: 12px
  & > div
    padding: 0
    & > ul > :nth-child(1)
      margin-bottom: 24px
      & > ul > li
        padding-top: 12px
        padding-bottom: 12px
        color: #FFF
        text-align: center
        font-family: "TT Norms", sans-serif
        font-size: 15px
        font-style: normal
        font-weight: 450
        line-height: normal
        background: rgba(13, 13, 13, 1)
        &:hover
          color: $accent
          cursor: pointer
          background: #252527
    & > ul > :nth-child(2) > ul > :nth-child(1)
      padding: 0
      margin-bottom: 12px
    & > ul > :nth-child(2) > ul > li
      background: rgba(13, 13, 13, 1)
    & > ul > :nth-child(2) > ul > li > span
      display: flex
      justify-content: center
  &_toggleBtn
    display: flex
    width: 52px
    height: 52px
    justify-content: center
    align-items: center
    border-radius: 14px
    background: #252527
    border: none
    outline: none
    &:hover
      background: #151517!important
    &:focus
      background: #151517!important
    &:active
      background: #151517!important
  &_custBtn
    width: 100%
    padding: 12px 48px
    display: flex
    align-items: center
    justify-content: center
  &_svg
    transition: transform 0.5s ease
.show
  transform: rotate(0deg)
.hide
  transform: rotate(90deg)

.btnWrap
  padding-left: 0!important
  padding-right: 0!important
  padding-bottom: 0!important

@media (max-width: 720px)
  .wrap
    &_container
      padding: 8px
      border-radius: 12px
      &_logo
        width: 104px

  .myBurger
    &_toggleBtn
      width: 32px
      height: 32px
      border-radius: 8px
    &_custBtn
      width: 100%
      padding: 6px 24px


@media (min-width: 1201px)
  .wrap
    display: none
