.wrap {
  position: sticky;
  top: 12px;
  z-index: 1000;
}
.wrap_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 24px;
  background: rgba(13, 13, 13, 0.7);
  backdrop-filter: blur(3px);
}
.wrap_container_logo {
  width: 186px;
}

.myBurger {
  position: relative;
  z-index: 2;
}
.myBurger_toggle {
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #252527;
  border: none;
  outline: none;
}
.myBurger_toggle:hover {
  background: #151517 !important;
}
.myBurger_toggle:focus {
  background: #151517 !important;
}
.myBurger_toggle:active {
  background: #151517 !important;
}
.myBurger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  box-sizing: border-box;
  width: auto;
  top: 150%;
  right: 0;
  border-radius: 24px;
  background: rgb(13, 13, 13);
  padding: 16px;
  z-index: 2;
}
.myBurger_menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #FFF;
  text-align: center;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.myBurger_menu__item:hover {
  color: #03CCC2;
  cursor: pointer;
}
.myBurger_menu__item_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.myBurger_menu__item_bottom__btn {
  width: 203px;
  padding: 12px 48px;
}
.myBurger_menu__item > img {
  width: 26px;
  height: 16px;
}
.myBurger_menu__item > span {
  color: #FFF;
  text-align: center;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.myBurger_menu__back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: inherit;
  right: -20px;
  top: 100%;
  z-index: 1;
}
.myBurger_svg {
  transition: transform 0.5s ease;
}

.show {
  transform: rotate(0deg);
}

.hide {
  transform: rotate(90deg);
}

.hideMenu {
  display: none;
}

@media (max-width: 720px) {
  .wrap_container {
    padding: 8px;
    border-radius: 12px;
  }
  .wrap_container_logo {
    width: 104px;
  }
  .myBurger_toggle {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }
  .myBurger_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    box-sizing: border-box;
    width: auto;
    top: 150%;
    right: 0;
    border-radius: 24px;
    background: rgb(13, 13, 13);
    padding: 16px;
    z-index: 2;
  }
  .myBurger_menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFF;
    text-align: center;
    font-family: "TT Norms Pro", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }
  .myBurger_menu__item:nth-of-type(4) > a {
    position: relative;
  }
  .myBurger_menu__item:nth-of-type(4) > a::after {
    content: "+1";
    position: absolute;
    right: -13px;
    top: -12px;
    display: flex;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid #03CCC2;
    background: #292A2D;
    color: #03CCC2;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
  }
  .myBurger_menu__item:hover {
    color: #03CCC2;
    cursor: pointer;
  }
  .myBurger_menu__item_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
  }
  .myBurger_menu__item_bottom__btn {
    width: 155px;
    padding: 12px 24px;
  }
  .myBurger_menu__item > img {
    width: 26px;
    height: 16px;
  }
  .myBurger_menu__item > span {
    color: #FFF;
    text-align: center;
    font-family: "TT Norms Pro", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .myBurger_menu__back {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: inherit;
    right: -20px;
    top: 100%;
    z-index: 1;
  }
  .myBurger_svg {
    transition: transform 0.5s ease;
  }
}
@media (min-width: 1201px) {
  .wrap {
    display: none;
  }
}

/*# sourceMappingURL=MobHeader.module.css.map */
