$primary: #050505
$on-primary: #F2F2F2
$primary-container: #050505
$on-primary-container: #F2F2F2
$secondary: #181818
$on-secondary: #F2F2F2
$secondary-container: #181818
$on-secondary-container: #F2F2F2
$tertiary: #444
$on-tertiary: #F2F2F2
$tertiary-container: #F2F4F7
$on-tertiary-container: #444
$action: #FCA311
$on-action: #F6FAFC
$action-container: #FBB771
$on-action-container: #E37809
$accent: #03CCC2
$on-accent: #F2F2F2
$accent-container: #03CCC2
$on-accent-container: #FFF
$surface-bright: #F2F2F2
$surface-dim: #050505

// Оголошення міксину
@mixin title
  color: $title
  font-family: Montserrat, sans-serif
  font-size: 34px
  font-style: normal
  font-weight: 600
  line-height: normal
  @media (max-width: 1440px)
    line-height: 41px
  @media (max-width: 720px)
    font-size: 34px
    line-height: 41px
    text-align: center

  
