// імпорт шрифту
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

// Оголошення змінних
$primary: #0B062D
$form: #FF9A00
$secondary: #FF9A00
$title: #3C4B45
$text: #9E9E9E
$textHover: #959595
$background: #F8F8F8
$MainBgWeb: url('../../Assets/Images/MainBlock/MainWeb.webp')
$MainBgMac: url('../../Assets/Images/MainBlock/MainMac.webp')
$MainBgTablet: url('../../Assets/Images/MainBlock/MainTablet.webp')
$MainBgMb: url('../../Assets/Images/MainBlock/MainMb.webp')
$advantagesVertical: #D9D9D9
$black: #0A090D
$white: #FFF
$headerBtn: #0C111D
$headerBtnHover: #FF9A00
$formBorderColor: #D0D5DD
$formPlaceholderColor: #959595
$headerLinkColor: #19191C
$borderColorMainBlockBtn: #BAF4F1
$btnTextColor: #4B4B4B
// Оголошення міксину
@mixin title
  color: $title
  font-family: Montserrat, sans-serif
  font-size: 34px
  font-style: normal
  font-weight: 600
  line-height: normal
  @media (max-width: 1440px)
    line-height: 41px
  @media (max-width: 720px)
    font-size: 34px
    line-height: 41px
    text-align: center

  
