@import "../../../Constants/Variables"
.wrap
  position: sticky
  top: 12px
  z-index: 1000
.container
  display: flex
  align-items: center
  justify-content: space-between
  padding: 16px 32px
  border-radius: 24px
  background: rgba(13, 13, 13, 0.70)
  backdrop-filter: blur(3px)
  gap: 10px
  &_logo
    width: 186px
  &_wrap
    margin-left: 80px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    &__nav
      display: flex
      align-items: center
      justify-content: center
      gap: 32px
      &_item
        cursor: pointer
        text-decoration: none
        color: #FFF
        text-align: center
        font-family: "TT Norms Pro", sans-serif
        font-size: 15px
        font-style: normal
        font-weight: 450
        line-height: normal
        position: relative
        padding: 0 12px
        &:hover
          color: $accent
          font-weight: 500
        &:nth-of-type(4)
          &::after
            content: '+1'
            position: absolute
            right: 0
            top: -12px
            display: flex
            padding: 2px 5px
            justify-content: center
            align-items: center
            border-radius: 9999px
            border: 1px solid $accent
            background: #292A2D
            color: $accent
            text-align: center
            font-family: 'Inter', sans-serif
            font-size: 10px
            font-style: normal
            font-weight: 500
            line-height: 10px
    &__center
      display: flex
      align-items: center
      gap: 6px
      &_anim
        animation: blink-animation 2.5s infinite
      &_txt
        color: #30DB5B
        text-align: center
        font-family: "TT Norms Pro", sans-serif
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: normal
    &__right
      display: flex
      align-items: center
      gap: 20px
      &_btn
        width: 203px
        padding: 12px 48px


@keyframes slideIn
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)
@keyframes slideOut
  0%
    transform: translateY(0)
  100%
    transform: translateY(-100%)

@keyframes blink-animation
  0%
    opacity: 1
  50%
    opacity: 0.05
  100%
    opacity: 1

@media (max-width: 1820px)
  .container
    &_wrap
      margin-left: 36px
      &__nav
        gap: 20px
        &_item
          font-size: 14px
          font-weight: 450
          padding: 0 12px
          &:hover
            color: $accent
            font-weight: 500
      &__center
        display: none

  
@media (max-width: 1200px)
  .container
    display: none
  .wrap
    display: none
